@using DAL.ViewModels;
@model PaginationViewModel<User>


@if (Model.Items.Count == 0)
{
    <tr>
        <td colspan="6" class="text-center text-danger fw-bold">No Data Found</td>
    </tr>
}
else
{
    @foreach (var item in Model.Items)
    {
        <tr class="border border-end-0 border-start-0 border-top-0 border-bottom-1">
            <td class="text-nowrap align-content-center d-flex mt-1"><img src="@item.ProfileImage" class="rounded-circle " width="25px" height="25px" alt="" /><p class="ms-2 mt-0">@item.FirstName    @item.LastName</p></td>
            <td >@item.Userlogin.Email</td>
            <td>@item.Phone</td>
            <td class="">@item.Userlogin.Role.RoleName</td>
            <td>
                @if (item.Status == true)
                {
                    <div class="text-center text-white bg-success rounded-pill w-75 p-lg-0 ps-1 pe-4 mt-2">
                        Active</div>
                }
                else
                {
                   <div class="text-center text-white bg-danger rounded-pill w-75 p-lg-0 ps-1 pe-4 mt-2">
                        Inactive</div>
                }
            </td>
            <td>
                @if (item.Userlogin.Email == ViewBag.email)
                {
                    <i class="fa-solid fa-pen text-black-50 me-3 mt-2"></i>
                    <i class="fa-solid fa-trash-can text-black-50"></i>
                }
                else
                {
                    <a asp-action="EditUser" asp-route-Email="@item.Userlogin.Email" class="text-dark me-3 text-decoration-none ">
                        <i class="fa-solid fa-pen mt-2"></i>
                    </a>
                    <i class="fa-solid fa-trash-can" data-bs-toggle="modal" data-bs-target="#delete-user"
                        data-email="@item.Userlogin.Email"></i>
                }
            </td>
        </tr>
    }
}
<input type="hidden" value="@Model.TotalCount" id="totalCount">
