@using DAL.ViewModels;
@model MenuViewModel

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add New Modifier</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form id="addModifierModalId">
        <div class="modal-body">
            <div class="row">
                <div class="form-floating col-6 p-1">
                    <select class="form-select" asp-for="@Model.addModifier.ModifierGrpId" id="selectGrpIdDropDown"
                        aria-label="Floating label select example">
                        @foreach (var modifier in Model.modifiergroupList)
                        {
                            <option value="@modifier.ModifierGrpId">@modifier.ModifierGrpName</option>
                        }
                        
                    </select>
                    <label for="selectGrpIdDropDown">Modifier Group</label>
                </div>
                <div class="form-floating col-6 mb-2 p-1">
                    <input type="text" class="form-control" asp-for="@Model.addModifier.ModifierName" id="floatingInput"
                        placeholder="name" required>
                    <label for="floatingInput">Name</label>
                    <span asp-validation-for="@Model.addModifier.ModifierName"></span>
                </div>

                <div class="form-floating col-4 p-1">
                    <input type="text" class="form-control" id="floatingInput" asp-for="@Model.addModifier.Rate"
                        placeholder="0" required>
                    <label for="floatingInput">Rate</label>
                    <span asp-validation-for="@Model.addModifier.Rate"></span>

                </div>
                <div class="form-floating col-4 p-1">
                    <input type="text" class="form-control" id="floatingInput" asp-for="@Model.addModifier.Quantity"
                        placeholder="0" required>
                    <label for="floatingInput">Quantity</label>
                    <span asp-validation-for="@Model.addModifier.Quantity"></span>
                </div>
                <div class="form-floating col-4 mb-2">
                    <select class="form-select" asp-for="@Model.addModifier.Unit" id="floatingSelect" aria-label="Floating label select example">
                        <option value="pcs">Pieces</option>
                        <option value="cm">Centimeter</option>
                    </select>
                    <label for="floatingSelect">Unit</label>
                </div>
                <div class="form-floating col-12 p-1">
                    <textarea class="form-control" asp-for="@Model.addModifier.Description"
                        placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Description</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >save</button>
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">cancel</button>
        </div>
    </form>
</div>