@using DAL.ViewModels;
@model PaginationViewModel<ItemsViewModel>

@* @{bool ismassdelete = false;} *@
@if (Model.Items.Count == 0)
{
    <tr>
        <td colspan="6" class="text-center text-danger fw-bold">No Data Found</td>
    </tr>
}
else
{
    @foreach (var item in Model.Items)
    {
        <tr>
            <td class="d-md-flex"><input type="checkbox" class="massDeleteClass" data-checkid="@item.ItemId" class="me-3" onclick="checkboxTickManage()">

                <img src="@item.ItemImage" class="ms-3 d-lg-block d-none me-2 " style="border-radius: 50%;" alt="" width="30px">
                @item.ItemName
            </td>
            <td><img src="@item.TypeImage" width="20px">
            </td>
            <td>@Convert.ToInt32(item.Rate)</td>
            <td>@item.Quantity</td>
            <td class="">
                <div class="form-check form-switch">
                    @if (item.Isavailable == true)
                    {
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked disabled>
                    }
                    else
                    {
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" disabled>
                    }

                </div>
            </td>
            <td>
                <i class="fa-solid fa-pen w-25 me-sm-2 me-xs-2 me-lg-0" data-id="@item.ItemId" onclick="getDetailsForEditItem(this)" data-bs-toggle="modal" data-bs-target="#EditItemModal"></i>
                <i class="fa-solid fa-trash-can" data-bs-toggle="modal" data-bs-target="#exampleModal-deleteItem"
                    data-id="@item.ItemId" onclick="getIdForDeleteItem(this)"></i>
            </td>
            
        </tr>
    }
}
<input type="hidden" value="@Model.TotalCount" id="totalCount">