@model DAL.ViewModels.UserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @* var ProfileImage = Model.Image; *@
}
<div id="delete-user" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body ">
                <div class="delete-cat-image d-flex flex-column  align-items-center">
                    <img src="../images/toppng.com-warning-icon-2400x2400.png" width="50px" alt="">
                    <p>Are you sure you want to Delete this User?</p>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <a type="submit" asp-action="Logout" asp-controller="User" class="btn btn-primary">Yes</a>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<!--Add new user  -->
<div class="add-user-main-div  d-flex justify-content-between mt-2 ">
    <!-- user txt -->
    <div class="user-div d-flex col-md-6">
        <div class="user-text fs-2 fw-bold text-primary">My Profile</div>
    </div>

    <!-- back -->
    <!-- <div class="back-adduser-div d-flex align-items-center justify-content-between mt-2">
                            <div class="back-button">
                             
                                <a href="user_list.html" class="btn btn-primary text-light p-2  ms-3 border text">
                                    < Back</a>
                            </div>

                        </div> -->
</div>

<!-- form -->
<div class="form-main-div mt-3 mx-auto bg-light " style="width: 98%;">
    <div class="row d-flex ">

        <form asp-action="MyProfile" method="post" class="p-0" enctype="multipart/form-data">
            @* <div class="profile_img" >
                <img src="~/images/profile_div_bg.jpg" height="60" width="100%" alt="" srcset="">
            </div>
            <div class="profile_details mb-3 d-flex justify-content-between align-items-center">
                <div class="profile_pic d-flex">
                    <img style="margin-top:-1em" class="rounded-pill border " src="@ProfileImage" height="80px" alt="">
                    <div class="ms-2 d-flex  flex-column">
                        <h4 class="profile_name">
                            @Model.FirstName @Model.LastName
                        </h4>
                        <div class="profile_username">
                            @Model.Username</div>
                    </div>
                </div>
                <div class="profile_email">
                    <p>
                        @Model.Email
                    </p>
                </div>
            </div> *@

            <!-- bg div  -->
            <div class="row">
                <img src="../images/profile_div_bg.jpg"  style="width: 100%; height: 80px;" />
            </div>

            <!-- profile pic -->
            <div class="row mt-3">
                <!-- <div class=""> -->
                <span class="position-relative">

                    <img src="@Model.Image" id="user-profile"
                        class="user-profile position-absolute ms-3 " />

                    <label for="profile-image">
                        <img src="../images/camera.svg" class="camera-image ms-3 position-absolute bg-white" alt="" />
                    </label>
                    <input type="file" asp-for="@Model.ProfileImage" class="form-control d-none" id="profile-image">

                </span>

                <div class="ms-md-5 ">

                    <div class="profile-details-div d-flex justify-content-md-between flex-md-row flex-column  mt-md-0 ms-md-5 ">
                        <span class="fs-3 fw-bold ms-md-4 mt-md-0 mt-sm-4">@Model.FirstName @Model.LastName</span>
                        <span class="me-md-5  mt-md-3 me-4 ">@Model.Email</span>
                    </div>

                    <div class="fs-6 ms-md-5 me-md-5 "><span class="ms-md-4">@Model.Username</span></div>

                </div>
                <!-- </div> -->
            </div>
            <div class="row p-3">
                <!-- two cols -->
                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                    <div class="form-floating ">
                        <input type="text" class="form-control" id="floatingInput" asp-for="FirstName"
                            placeholder="First Name">
                        <label asp-for="FirstName" for="floatingInput" class="fs-6 text-secondary">First Name</label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                    <div class="form-floating ">
                        <input asp-for="LastName" type="text" class="form-control" id="floatingInput"
                            placeholder="Last Name">
                        <label asp-for="LastName" for="floatingInput" class="fs-6 text-secondary">Last Name</label>
                        <span asp-validation-for="LastName" class="text-danger"></span>

                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                    <div class="form-floating ">
                        <input asp-for="Username" type="text" class="form-control" id="floatingInput"
                            placeholder="John Deo">
                        <label asp-for="Username" for="floatingInput" class="fs-6 text-secondary">Username</label>
                        <span asp-validation-for="Username" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                    <div class="form-floating">
                        <input asp-for="Phone" type="tel" class="form-control" id="floatingInput"
                            placeholder="John Deo">
                        <label asp-for="Phone" for="floatingInput" class="fs-6 text-secondary">Phone</label>
                        <span asp-validation-for="Phone" class="text-danger"></span>

                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-xl-4 col-12 mt-3">
                    <div class="form-floating">
                        <select asp-for="CountryId" class="form-select" id="Countries"
                            aria-label="Floating label select example" asp-items="@ViewBag.Countries"></select>
                        <label for="floatingSelect text-secondary">Country</label>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 col-12 mt-3">
                    <div class="form-floating">
                        <select class="form-select" asp-for="StateId" asp-items="@ViewBag.States" id="States"
                            aria-label="Floating label select example"> </select>
                        <label for="floatingSelect text-secondary">State</label>
                        <span class="text-danger">@TempData["stateErrorMessage"]</span>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 col-12 mt-3">
                    <div class="form-floating">
                        <select class="form-select" asp-for="CityId" asp-items="@ViewBag.Cities" id="Cities"
                            aria-label="Floating label select example"></select>
                        <label for="floatingSelect text-secondary">City</label>
                        <span class="text-danger">@TempData["cityErrorMessage"]</span>
                    </div>
                </div>

                <div class="col-md-8 col-lg-8 col-xl-8 col-12 mt-3">
                    <div class="form-floating ">
                        <input asp-for="Address" type="text" class="form-control" id="floatingInput"
                            placeholder="John Deo">
                        <label asp-for="Address" for="floatingInput" class="fs-6 text-secondary">Address</label>
                        <span asp-validation-for="Address" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 col-12 mt-3">
                    <div class="form-floating ">
                        <input asp-for="Zipcode" type="text" class="form-control" id="floatingInput"
                            placeholder="John Deo">
                        <label asp-for="Zipcode" for="floatingInput" class="fs-6 text-secondary">Zipcode</label>
                        <span asp-validation-for="Zipcode" class="text-danger"></span>

                    </div>
                </div>

                <div class="d-flex mb-4 d-flex justify-content-end">
                    <div class="craete-button mt-3">
                        <button class="btn btn-primary text-light  border text" type="submit">
                            Update</button>
                    </div>

                    <div class="craete-button mt-3 text-primary ms-3">
                        <a asp-action="UsersList" asp-controller="User" class="btn  btn-outline-primary border border-primary  border ">
                            Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#Countries').change(function () {
                var countryId = $(this).val();
                console.log(countryId);

                $.getJSON('@Url.Action("GetStates", "User")', { countryId: countryId }, function (states) {
                    var statesSelect = $('#States');
                    console.log(states);
                    statesSelect.empty();
                    $("#Cities").empty();
                    statesSelect.append('<option selected value="-1">Select State</option>');
                    $("#Cities").append('<option selected value="-1">Select City</option>');
                    $.each(states, function (index, state) {
                        statesSelect.append($('<option/>', {
                            value: state.value,
                            text: state.text
                        }));
                    });
                });
            });
            $('#States').change(function () {
                var stateId = $(this).val();
                $.getJSON('@Url.Action("GetCities", "User")', { stateId: stateId }, function (cities) {
                    var citiesSelect = $('#Cities');
                    citiesSelect.empty();
                    citiesSelect.append('<option selected value="-1">Select City</option>');
                    $.each(cities, function (index, city) {
                        citiesSelect.append($('<option/>', {
                            value: city.value,
                            text: city.text
                        }));
                    });
                });
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';
             toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "timeOut": "2000"
            };
            console.log("successMessage", successMessage);
            if (successMessage) {
                toastr.success(successMessage);
            }
            if (errorMessage) {
                toastr.error(errorMessage);
            }
        });
    </script>

    <script>$("#profile-image").change(function () {
            const file = this.files[0];
            if (file) {
                const fileReader = new FileReader();
                fileReader.onload = function (event) {
                    $("#user-profile").attr("src", event.target.result);
                };
                fileReader.readAsDataURL(file);
            }
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}