@model DAL.ViewModels.UserLoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="container-fluid bg-dark min-vw-100   min-vh-100 d-flex">
    <div class="row min-vw-100  min-vh-100">

        <!-- image -->
        <div class="image_main_div col-md-6 col-sm-12 bg-light p-0 d-none d-md-block ">
            <img src="~/images/dominos_background.jpg" class="h-100 w-100" alt="">
        </div>

        <!-- login details -->
        <div
            class="login_details_main_div col-md-6 col-sm-12  d-flex flex-column justify-content-center align-items-center">
            <div class="row w-100">
                <!-- logo -->
                <div class="logo-main-div d-flex justify-content-center">
                    <div class="logo-image  me-2">
                        <img src="images/logos/pizzashop_logo.png" width="50px" alt="">
                    </div>
                    <div class="logo-text text-primary fs-3 fw-bold">PIZZASHOP</div>
                </div>

                <!-- welcome -->
                <div class="welcome-text-div fs-4 row mt-4 ">
                    <div class="col-2"></div>
                    <div class="col-7 ms-2 fw-bold">Welcome,</div>
                    <!-- <div class="col-2"></div> -->

                </div>

                <!-- imput fields -->
                <!-- login form -->
                <div class="form-main-div mt-1">

                    <form asp-action="VerifyPassword">
                        @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@

                        <div class="row fs-5 mt-2">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <!-- ?username -->
                                <div class="username-div mt-2 form-group">
                                    @* <label asp-for="Email" class="control-label"></label> *@
                                    <input asp-for="Email" id="email" type="email" class="d-inline form-control "
                                        placeholder="Email*" />
                                    <i class="bi bi-person-fill"></i>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <!-- error message -->
                        <div class="row">
                            <span class="col-2"></span>
                            <span class="col-8 error-message text-danger"></span>
                        </div>

                        <div class="row fs-5 mt-2">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <!-- ?password -->
                                <div class="password-div mt-2  position-relative ">
                                    <input type="password" asp-for="Password"
                                        class="inputText-login d-inline form-control  w-100 p-2  " id="password"
                                        placeholder="Password*" />
                                    @* <label for="currentPassword" asp-for="CurrentPassword">Password</label> *@
                                    <span><i class="bi bi-eye-slash-fill password-icon-login" id="togglepassword"
                                            onclick="toggle_fnction('togglepassword','password')"></i></span>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                            </div>
                        </div>

                        <!-- error message -->
                        <div class="row">
                            <span class="col-2"></span>
                            <span class="col-8 error-message text-danger"></span>
                        </div>

                        <!-- buttons -->
                        <div class="row  mt-3">
                            <div class="col-2"></div>
                            <div class="col-8 d-flex justify-content-between">
                                <!-- checkbox -->
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="RememberMe" type="checkbox"
                                        id="flexCheckDefault">
                                    <label class="form-check-label fs-6" for="flexCheckDefault">
                                        Remember Me
                                    </label>
                                </div>
                                <div>
                                    <a class=" text-primary text-decoration-none text-small  forgot-pass-atag "
                                        id="forgot_password">Forgot
                                        Password?</a>
                                </div>

                            </div>
                            @* <div class="col-3"> <a class=" text-primary text-decoration-none text-small ms-3 forgot-pass-atag me-3"
                                    id="forgot_password">Forgot
                                    Password?</a></div>*@
                        </div>

                        <div class="row fs-5 mt-5">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <span class="text-danger"> @ViewBag.message</span>
                                <input type="submit" value="Login"
                                    class="btn btn-danger login-btn-btn bg-primary border-primary w-100">
                            </div>
                        </div>

                    </form>

                </div>

            </div>
        </div>

    </div>
</div>



@* <script>

    function redirectFrgtPass(){
        var email = document.getElementById('Email').value;
        window.location.href="/UserLogin/ForgotPassword?Email="+encodeURIComponent(email);
    } 
    

</script> *@




@* <script src="/js/index.js"></script> *@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';
            console.log("successMessage", successMessage);
             toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "timeOut": "2000"
            };
            if (successMessage) {
                toastr.success(successMessage);
            }
            if (errorMessage) {
                toastr.error(errorMessage);
            }
        })
    </script>

    <script>
        $(document).ready(function () {
            $("#forgot_password").click(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetEmail", "UserLogin")",
                    data: { "Email": $("#email").val() },
                    success: function (response) {
                        window.location.href = "@Url.Action("ForgotPassword", "UserLogin")";
                        console.log("response");
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            });
        });
    </script>



}
